@charset 'UTF-8';

.action.view.panel {

    overflow:hidden;

    display:flex;
    flex-flow:row wrap;

    justify-content:center;
    align-items:center;

    margin-left:-36px;
    margin-right:-36px;

    padding-top:50px;
    padding-bottom:50px;
    padding-left:28px;
    padding-right:28px;

    > a {
        flex:0 0 calc(100% / 3 - 16px);
        display:block;
        color:#999;
        background-color:#fff;
        margin:8px;
        padding:32px;
        box-sizing:border-box;
        height:300px;
        border-radius:4px;
        transition:box-shadow 0.2s;
        position:relative;

        &:hover {
          box-shadow: 0 28px 40px 0 rgba(0, 0, 0, 0.16);
          z-index:2;
        }
    }

    .card {
        h3 {
            font-weight:300;
            font-size:rem(20);
            color:#333;
        }

        p {
            font-size:rem(14);
            line-height:1.6;
            color:#999;
        }
    }

    // bg image
    .card {
        height:100%;

        position:relative;

        &:before {
            display:block;
            content:'';

            position:absolute;
            width:55%;
            max-height:115px;
            height:60%;
            background:#600;
            bottom:0;
            right:0;

            background-position:right bottom;
            background-color:transparent;
            background-repeat:no-repeat;
            background-size:contain;

        }
        &.transfer:before {
            background-image:url('../image/bg-transfer.svg');
        }

        &.vote:before {
            background-image:url('../image/bg-vote.svg');
        }

        &.ram_market:before  {
            background-image:url('../image/bg-ram-market.svg');
        }

        &.faq:before  {
            background-image:url('../image/bg-faq.svg');
        }

        &.proxy_vote:before  {
            background-image:url('../image/bg-proxy-vote.svg');
            width:90%;
            height:90%;
            max-height:150px;
        }

        &.application:before  {
            background-image:url('../image/bg-dapp.svg');
        }
    }
}
