// --------------------------------------------------------------------------------
// independent interface
// --------------------------------------------------------------------------------
.notification.panel {
    position:fixed;
    right:42px;
	z-index:10;
	top:calc(#{$header_height} + 42px);

		@include media ('>1280px','<=1600px') {
			top:calc(#{$header_height} + 2.425vw);
			right: 2.425vw;
		}
		@include media ('<=1280px') {
			top:calc(#{$header_height} + 17px);
			right: 27px;
		}


    // response
    div {
        width:406px;
        min-height:96px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        padding-left:40px;
        padding-right:130px;
        justify-content:center;
        position:absolute;
		top:0;
		right:0;

        p {
            margin:0;
            color:#fff;

			+ p {
				font-size:$x-small;
				font-weight:$light;
				margin-top:3px;
			}
        }

        a {
            font-size:$small;
            color:#fff;
        }

        button.close {
            position:absolute;
            right:10px;
            top:10px;
			@include ir();
            background:url('../image/icon-close-white-transparent.svg') center center no-repeat;
            width:20px;
            height:20px;

            outline:0;
            transition:transform 0.1s;

            &:hover {
                transform:scale(1.1);
            }
        }
    }

	.view {
		background-position:285px calc(100% + 36px);
		background-repeat:no-repeat;

		&.success {
			background-color:#79c720;
			background-image:url('../image/bi-hubby.svg#white');
			background-size:81px auto;
		}

		&.fail {
			background-color:#ff6b64;
			background-image:url('../image/bi-hubby.svg#white#alert');
			background-size:91px auto;
		}

	}

    // interaction
    z-index:-1;

    div {
        transition:transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity:0;
        transform:translateY(-100%);
    }

    &.viewing {
        z-index:100;
        div {
            opacity:1;
            transform:translateY(0);
        }
    }
}
