
p.help.info {
    a {
        background:url('../image/icon-info-mark.svg') left center no-repeat;
        background-size:16px 16px;
        padding-left:20px;
        font-size:rem(14);
        color:#737a8d;
    }
}
