
p.help.info {
    a {
        background:url('../image/icon-info-mark.svg') left center no-repeat;
        background-size:16px 16px;
        padding-left:20px;
        font-size:rem(14);
        color:#737a8d;
    }
}




// custom dropdown_list area

.dropdown_list {
    display:inline-block;
    position:relative;   

    div.wrapper {
        position:absolute;
        top:100%;
        z-index:2;
        left:0;
        right:0;
        background-color:#fff;

        button {
            width:100%;
            border-top:0;
        }
    }

    button {
        font-size:rem(14);

        background-color:#fff;
        height:40px;
        line-height:40px - 2px;
        display:block;

        white-space:nowrap;

        padding:0 16px;

        border-width:1px;
        border-style:solid;

        text-align:center;
        border-radius:0;

        color:#999;
        transition:color 0.3s, background-color 0.3s;

        outline:0;

        &:hover {
            color:darken(#999,70%);
            background:darken(#f7f7f7,1%);
        }
    }

    // primary button
    button[role="listitem"]  {
        border-color:#d8d8d8;

        &[aria-level] {
            background:url('../image/icon-dropdown.svg') calc(100% - 16px) calc(50%) no-repeat;
            background-size:20px 20px;

            padding-right:64px;
            border-color:#737a8d;
            border-radius:2px;
            color:#737a8d;
        }
    }

    // response interaction
    div.wrapper {
        transition:all 0.3s;
        max-height:0;
        overflow:hidden;
    }

    &.expand {
        button[aria-level] {
            background-position-y:calc(50% + 1px);
        }

        div.wrapper {
            transition:all 0.3s;
            max-height:150px;

        }
    }
}


// common : graph
.graph {
    $unit:8px;
    position:relative;
    min-height:$unit;
    font-size:rem(14);
    color:#999;
    padding-bottom:$unit * 2.5;

    // bg
    &:before {
        content:'';
        height:$unit;
        border-radius:$unit;
        background-color:#f5f7f9;
        display:block;
        width:100%;
        position:absolute;
        bottom:0;
    }

    // fg
    span {
        height:$unit;
        border-radius:$unit;
        display:block;
        position:absolute;
        bottom:0;

        font-size:rem(14);
        color:#666;


        transition:width 1s, background 0.5s;

        &.loading {
            width:0 !important;
            background:transparent !important;
        }
    }

    span[data-status='fine'] {
        background-color:#536dfe;
    }

    span[data-status='good'] {
        background-color:#79c720;
    }

    span[data-status='bad'] {
        background-color:#f5cb23;
    }

    span[data-status='hell'] {
        background-color:#ff6b64;
    }
}



// notificaiton.under_construction
.notificaiton.under_construction {

    position:absolute;
    left:0;
    right:0;
    top:0;
    z-index:-1;

    &.hidden {
        display:none;
    }

    &.viewing {
        z-index:4;
        bottom:0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .panel {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%) scale(0.8);
        opacity:0;
        width: 572px;
        height: 320px;
        border-radius: 4px;
        background-image:url('../image/bg_under_construction.svg'); 
        background-position:286px 62px; 
        background-repeat:no-repeat;
        background-size:55% auto;
        background-color: #536dfe;
        box-shadow: 0 28px 40px 0 rgba(0, 0, 0, 0.2);

        box-sizing:border-box;

        color:#fff;
        padding:48px;

        transition:transform 0.2s ease-out, opacity 0.2s ease-in;
        

        h2 {
            font-size:rem(32);
            line-height:1.4;
            font-weight:300;
        }

        p {
            font-size:rem(14);
            line-height:1.5;
            font-weight:300;
        }
    }

    &.viewing .panel {
        transform:translate(-50%,-50%) scale(1);
        opacity:1;
    }

    button.close.button {
        @include ir();

        position:absolute;
        width:25px;
        height:25px;

        right:20px;
        top:20px;

        transform:rotate(45deg);
        outline:none;

        &:before,
        &:after {
            content:'';
            display:block;
            height:1px;
            background:#fff;
            position:absolute;
            left:0;
            right:0;
            top:calc(50% - 1px);
        }

        &:before {
            transform:rotate(90deg);
        }
    }
} 
