// var
$header_height:64px;
$lnb_width:60px;
$browser_min_width:1260px;
$browser_min_height:580px;

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

section.modal.popup {
	transition:left 0.4s;
}


aside.shrink ~ .modal.popup,
aside.shrink ~ main .modal.popup {
	left:0;
}

// --------------------------------------------------------------------------------
// modal popup
// --------------------------------------------------------------------------------
.modal.popup {
	position:fixed;
	background-color: rgba(0, 0, 0, 0.64);

	top:0;
	right:0;
	bottom:0;

	@include media ('>1600px') {
		left:calc(300px + #{$lnb_width});
	}
	@include media ('>1280px','<=1600px') {
		left:calc(18.75vw + #{$lnb_width});
	}
	@include media ('<=1280px') {
		left:calc(240px + #{$lnb_width});
	}

	// 가입 프로세스
	main.join + & {
		left:0;
	}

	p {
		line-height:1.6;

		> strong {
			color:$white;
			font-weight:$light;
			margin-right:0.1em;
		}
	}

	// superset
	span.validate.description {
		font-size: $small;
		line-height:20px;
		height: 20px;
		background-size: 20px;
		padding-left: 28px;
		display: block;
		visibility: hidden;

		&.true {
			visibility: visible;
			color: #ff6b64;
			background: url('../image/icon-x-circle.svg') left center no-repeat;
		}

		&.false {
			visibility: visible;
			color: #79c720;
			background: url('../image/icon-check-circle.svg') left center no-repeat;
		}
	}

	.wrapper {
		background-color:$x-dark-gray;

		position:absolute;
		top:calc(50% + 61px/2);
		// top:calc(#{$header_height} + 61px + 100px);		// 대충 중간...
		left:50%;
		min-width:386px;
		width:30.15625%;
		max-width:500px;
		border-radius:4px;

		padding:32px 0;
		box-sizing:border-box;
		z-index:100;
	}

	//layout for scroll area
	.wrapper {
		h2 {
			margin-left:32px;
			+ p {
				margin-left:32px;
			}
		}

		form {
			margin-left:32px;
			margin-right:27px;
		}
	}

	form {
		margin-top:32px;
		margin-bottom:24px;
		border-radius:4px;
		background:$xx-dark-gray;

		display:flex;
		align-items:center;
		padding:12px 16px;

		input,button {
			height:20px;
		}

		input {
			flex:1;
			font-size:inherit;
			padding-left:32px;
			outline:0;
			color:#fff;
			background-color:transparent;
			background-position:left center;
			background-repeat:no-repeat;
			background-size:20px;

			&.search_token {
				background-image:url('../image/icon-search.svg');
			}

			&.user {
				background-image:url('../image/icon-id-default.svg#lignt-gray');
			}
		}

		button {
			color:$white;
			font-size:$small;
		}

	}

	.result.list {
		height:350px;
		overflow-x:hidden;
		overflow:auto;
	 }


	button.close {
		position:absolute;
		top:32px;
		right:32px;

		width:18px;
		height:18px;

		@include ir();

		background:url('../image/icon-close-popup.svg') center center no-repeat transparent;
		background-size:contain;
		outline:0;

		transition:transform 0.2s;

		&:hover {
			transform:scale(1.2);
		}
	}

	//custom scrollbar
	.result.list {
		$scrollbar_width:5px;
		$padding_right:11px;

		margin-left:32px;
		margin-right:calc(32px - #{$scrollbar_width} - #{$padding-right});
		padding-right:$padding_right;

		&::-webkit-scrollbar {
			width: $scrollbar_width;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border-radius:$scrollbar_width;
			background: #666;
		}

		// &::-webkit-scrollbar-button {
		// 	background: #666;
		// 	height: 15px;
		// 	border-radius: 50%;
		// }
	}


	// interaction
	visibility:hidden;
	opacity:0;
	transition:opacity 0.4s;

	.wrapper {
		transition:transform 0.4s;
		transform:translate(-50%, -60%);
	}

	&.viewing {
		opacity:1;
		visibility:visible;

		.wrapper {
			transform:translate(-50%, -50%);
		}
	}

	.token.status {
		padding:32px;
		background-color:$xxx-dark-gray;
		position:relative;

		h3 {
			font-size:$small;
			strong {
				display:block;
				margin-top:8px;
				font-weight:100;
				font-size:$xx-large;
			}
		}

		button.auto.set {
			position:absolute;
			right:32px;
			top:32px;

			padding-right:26px;

			&:after {
				content:'';
				display:block;
				width:22px;
				height:22px;

				position:absolute;
				top:50%;
				right:0;
				margin-top:-11px;
				background:url('../image/icon-refresh.svg') right center no-repeat;

				transition:transform 1s, color 1s;
			}

			&:hover {
				color:$white;
				&:after {
					transform:rotate(180deg);
				}
			}
		}
	}

	.result.list {
		ul,li,p {
			margin:0;
			padding:0;
			list-style-type:none;
		}

		li {
			font-size:$x-small;
			background-color:$xxx-dark-gray;
			padding:16px;
			position:relative;

			h3 {
				margin-bottom:8px;
			}

			p {
				line-height:1.5;
			}

			button {
				color:$red;
				position:absolute;
				right:16px;
				top:50%;
				transform:translateY(-50%);
			}

			margin-top:8px;
			&:first-child {
				margin-top:0;
			}
		}

	}
}



// type case
.resource_management .modal.popup {
	@include media ('>1600px') {
		left:300px;
	}
	@include media ('>1280px','<=1600px') {
		left:18.75vw;
	}
	@include media ('<=1280px') {
		left:240px;
	}
}



// type case
.modal.popup.buy_ram {
	form {
		margin-bottom:0;
		border-radius:0;
		border-bottom:1px solid $white;
	}

	form + .container {
		margin-top:12px;
		margin-left:32px;
	}

	.btn_area {
		margin:43px 32px 0;
		button {
			width:100%;
		}
	}
}

.modal.popup.set_division_manual {
	.wrapper {
		background-color:$xx-dark-gray;
		padding:0 0 32px 0;
	}

	h2 {
		@include screen_reader();
	}

	.form.container {
		padding:32px 32px 0;

		h3, p {
			font-size:$small;
			margin:0 0 8px;
		}
		p {
			margin:8px 0 12px;
		}

		form {
			margin:0;
			padding:0;
			display:block;
			position:relative;
			background-color:#232323;

			input {
				border:0;
				border-bottom:1px solid $dark-gray;
				line-height:48px;
				height:48px;
				background:none;
				padding:0 8px;
				box-sizing:border-box;
				width:100%;

				&[data-validate='true'] {
					border-color:$green;
				}

				&[data-validate='false'],
				&:invalid {
					border-color:$red;
				}
			}

			span {
				margin-right:8px;
				font-size:$small;

				position:absolute;
				top:50%;
				right:0;

				transform:translateY(-50%);

			}
		}
	}

	p.validate.description {
		text-align:center;
		font-size:$small;
		margin:32px 0;

		&.false {
			color:$red;
		}

		&.true {
			color:$green;
		}
	}

	.btn_area {
		margin:0 32px;
		display:flex;

		button {
			flex:1;
			&:last-child {
				margin-left:8px;
			}
		}
	}
}


// 계정생성시 출력되는 팝업
.modal.popup.create_account {

	.wrapper {
		background-color:$xx-dark-gray;
	}

	h2 + p {
		margin-top:16px;
		line-height:1.6;
		max-width:20em;
	}

	dl {
		margin:24px 32px 8px;
		display:grid;
		grid-template-columns:110px 1fr;
		grid-template-rows:repeat(3,65px);
		text-align:center;

		dt, dd {
			display:flex;
			justify-content:center;
			align-items:center;
			margin:1px;
		}

		dt {
			font-size:$small;
			vertical-align:middle;
			background-color:$xxxx-dark-gray;
		}

		dd {
			font-size:$x-small;
			background-color:$xxx-dark-gray;
		}
	}

	dl ~ .btn_area {
		margin-left:32px;
		margin-right:32px;

		margin-top:24px;
		button {
			width:100%;
		}
	}

	dl + .btn_area {
		margin-top:16px;
		margin-bottom:0px;
		display:flex;
		button {
			height:36px;
			line-height:34px;
			flex:1;
			&:first-child {
				margin-right:8px;
			}
		}
	}

}

.modal.popup.virtual_account_check {

	.wrapper {
		background-color:$xx-dark-gray;
	}
	dl {
		margin: 32px;
		background-color:$xxx-dark-gray;
		display:grid;
		grid-template-columns:50% 50%;
		padding:12px 24px;
		font-size:$small;

		* {
			padding:6px 0;
		}
		dt {
			color:$white;
			text-align:left;
		}
		dd {
			text-align:right;
			word-break:break-all;
		}
	}

	dl + .btn_area {
		margin:16px 32px;
		display:flex;
		button {
			flex:1;
			&:first-child {
				margin-right:8px;
			}
		}
	}
}

.modal.popup.tokenlist {
	.wrapper {
		background-color:$xx-dark-gray;
	}

	form {
		background-color:$xxx-dark-gray;
	}

	.result.list {
		> button {
			text-align:left;
			font-size:$x-small;
			background-color:$xxx-dark-gray;
			padding:20px 64px;
			position:relative;
			width:100%;
			box-sizing:border-box;
			margin-bottom:5px;
			&:last-child {
				margin-bottom:0;
			}

			span {
				display:block;

				strong {
					font-size:$normal;
					font-weight:400;
					color:$white;
					display:block;
				}
			}

			&.token:before {
				content:'';
				position:absolute;
				top:50%;
				left:20px;
				display:block;
				border-radius:100%;
				transform:translateY(-50%);
				transform-origin:left center;
				background-image:url('../image/icon-eos.png');
				background-position:center center;
				background-repeat:no-repeat;
				width:32px;
				height:32px;
				background-color:#443f54;
			}

			@mixin sprites-token($sprites) {
				@each $sprite in $sprites {
					$sprite-name: nth($sprite, 10);

					&.#{$sprite-name}:before {
						display:none;
					}
					&.#{$sprite-name}:after {
						@include sprite($sprite);
						content:'';
						position:absolute;
						top:50%;
						left:20px;
						display:block;
						border-radius:100%;
						transform:translateY(-50%) scale(0.25);
						background-color:$white;
						transform-origin:left center;
						box-shadow:0 0 10px 0 rgba(255,255,255,1);
					}
				}
			}

			@include sprites-token($spritesheet-sprites);


			transition:background-color 0.2s;
			&:hover {
				background-color:$xxxx-dark-gray;
			}
		}
	}
}


// bp name list

// $spritesheet-width: 1216px;
// $spritesheet-height: 1179px;


// for payment (ruby)
body > .modal.popup.virtual_account_check {
	left:0 !important;
	> .wrapper {
		top:50%;
	}
}


.modal.popup.rental_account.cancel {
	.wrapper {
		padding-top:0;
		background-color:$xx-dark-gray;
	}

	.token.status + h3 {
		font-size:$small;
		margin-left:32px;
		margin-top:24px;
	}

	form {
		margin-top:16px;
		margin-bottom:16px;
		background-color:$x-dark-gray;
	}
}
// type case


