@charset 'UTF-8';

.container.join {
    min-width:0;
    max-width:none;
    display:block;
    width:440px;
    padding:0;
    background-color:#fff;
    margin-top:25vh;
    margin-bottom:3em;

    ol.progress.bar {
        padding:0;
        list-style-type:none;

        height:54px;        // key

        position:relative;

        &:before {
            content:'';
            display:block;
            height:1px;
            position:absolute;
            top:0;
            left:0;
            right:0;
            background-color:#d8d8d8;
            transform:translateY(-28px);
        }

        li {

            text-align:center;
            font-size:rem(13);
            color:#999;

            position:absolute;

            &:before {
                position:absolute;
                top:-44px;
                left:50%;
                transform:translateX(-50%);
                content:'';
                width:32px;
                height:32px;
                border-radius:100%;
                border-width:5px;
                border-style:solid;

                box-sizing:border-box;

                border-color:#d8d8d8;
                background-color:#f2f2f2;

                outline:12px solid #fff;

                z-index:4;
            }

            &:first-child {
                left:0;
                transform:translateX(-50%);
            }

            &:nth-of-type(2) {
                left:50%;
                transform:translateX(-50%);
            }

            &:last-child {
                right:0;
                transform:translateX(50%);
            }
        }

        li.ing {
            color:#333;
            &:before {
                background-color:#8194ff;
                border-color:#536dfe;
            }
        }

        li.done {
            &:before {
                background-color:#ccff90;
                border-color:#64dd17;
            }
        }
    }

}

.container.join article {
    h1 {
        text-align:center;
        font-size:rem(24);
        font-weight:300;
        color:#333;
        margin:0 -200px;
        line-height:1.5;

        &.finished {
            margin-top:120px;
        }

        &:before {
            display:block;
            width:63px;
            margin:120px auto 40px;;
        }
    }

    &[data-step="1"] h1:before,
    &[data-step="4"] h1:before {
        content:url('../image/symbol-smile.svg');
    }

    &[data-step="2"] h1:before {
        content:url('../image/symbol-complete.svg');
    }

    &[data-step="3"] h1:before {
        content:url('../image/symbol-alert.svg');
    }

    &[data-step="5"]:after {
        content:url('../image/group-18.svg');
        width:350px;
        display:block;
        margin:65px auto;
    }
}

.container.join article {
    h1 + p {
        font-size:rem(14);
        text-align:center;
        color:#999;
        line-height:1.5;
    }

    form {
        margin-top:120px;
        font-size:rem(14);
        position:relative;
        color:#333;
        padding-bottom:10px;

        input {
            border:0;
            display:block;
            flex:1;
            font-size:inherit;
            color:inherit;
            padding-left:31px;
            outline:0;
            padding-bottom:14px;
            border-bottom:1px solid #536dfe;

            width:100%;
            box-sizing:border-box;

            &::placeholder {
                color:#999;
            }
        }

        // valid/ invalid tick text style
        input + span {
            height:20px;
            line-height:20px;
            margin-top:12px;
            display:block;
            font-size:rem(13);

            display:flex;
        }

        input[valid] {
            border-color:#79c720;
            & + span {
                color:#79c720;
                background:url('../image/icon-check-circle.svg') left center no-repeat;
                background-size:20px;
                padding-left:28px;
            }

        }

        input[invalid] {
            border-color:#ff6b64;
            
            & + span {
                color:#ff6b64;
            }

            & + span:before {
                color:#ff6b64;
                content:'+';
                width:20px;
                height:20px;
                background-color:#ff6b64;
                margin-right:8px;

                color:#fff;
                text-align:center;
                border-radius:100%;
                transform:rotate(45deg);
            }
        }

        button {
            color:inherit;
            font-size:inherit;
        }

        input[type='email'] {
            background:url('../image/icon-mail.svg') left top no-repeat;
        }

        input[type='text'] {
            background-image:url('../image/icon-id-default.svg#normal');
            background-position:left top;
            background-repeat:no-repeat;
            background-size:20px 20px;

            &[valid] {
                background-image:url('../image/icon-id-default.svg#valid');
            }

            &[invalid] {
                background-image:url('../image/icon-id-default.svg#invalid');
            }
        }
    }

    h2 {
        font-size:rem(24);
        text-align:center;
        margin:48px 0 64px;
    }
}

.container.join .exist_account {
    margin-top:16px;
    color:#999;
    font-size:rem(14);
    text-align:center;

    a {
        margin-left:0.6em;
        color:#536dfe;
        text-decoration:underline;
    }
}


// public/private key
.container.join article dl {
    margin:40px 0 0;

    display:grid;
    grid-template-columns:20% auto;

    dt,dd  {
        background-color:#f5f7f9;
        box-sizing:border-box;
        padding:19px 16px;
        font-size:rem(14);
        margin-top:1px;
    }

    dt {
        color:#333;
    }

    dd {
        color:#999;
        overflow-x:hidden;
        text-overflow:ellipsis;
    }
}

.container.join article[data-step="3"] {
    button.copy {
        margin-top:16px;
    }
    
    .hidden_copy_field {
        @include screen_reader();

        &:focus,
        &::selection {
            @include screen_reader();
        }
    }
}

.container.join {
    button.middle,
    a.middle.button {
        border-width:1px;
        height:52px;
        width:100%;
        font-size:rem(14);
        line-height:52px;

        &[disabled] {
            color:#fff;
            background-color:#d8d8d8;
            border-color:#d8d8d8;
        }
    }
}


//extra case
article {
    + .btn_area {
        margin-top:24px;
    }

    &[data-step="3"] + .btn_area {
        margin-top:64px;
    }
}
