$header_height:64px;
$lnb_width:60px;
$browser_min_width:1260px;
$browser_min_height:580px;

// --------------------------------------------------------------------------------

html,body {
	height:100%;
}

body {
	// overflow-y:hidden;
}

div#elm-target {
	height:100vh;
	box-sizing:border-box;

	min-width:$browser_min_width;
	min-height:$browser_min_height;
}

body {
	color:#999;
	background-color:#161616;
}


// --------------------------------------------------------------------------------
// layout
// just only one element in SPA
// --------------------------------------------------------------------------------

header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:$header_height;
	z-index:60;
}

nav {
	position:fixed;
	width:$lnb_width;
	height:inherit;
	top:$header_height;
	left:0;
	bottom:0;
	z-index:50;
}

footer {
	position:fixed;
	width:$lnb_width;
	left:0;
	bottom:0;
	z-index:50;
}


// --------------------------------------------------------------------------------
// content > aside(status section) + main
// --------------------------------------------------------------------------------
section.content {
	box-sizing:border-box;

	display:flex;
	justify-content:center;

	padding-top:$header_height;

	// gnb가 있는 경우에만 필요함
	nav ~ & {
		padding-left:$lnb_width;
	}

	main.index,
	main.transfer,
	main.search,
	main.ram_market {
		height:inherit;
		box-sizing:border-box;
		padding:42px;

		@include media ('>1600px') {
			margin-left:calc(300px);
		}
		@include media ('>1280px','<=1600px') {
			padding: 2.425vw;
			margin-left:calc(18.75vw);
		}
		@include media ('<=1280px') {
			padding:27px;
			margin-left:240px;
		}

	}
	main.index {
		max-width:1560px;
		width:80.425vw;
		min-width:965px;
	}

	main.transfer,
	main.search {
		width:965px;
	}

	aside {
		box-sizing:border-box;

		position:fixed;
		left:$lnb_width;
		top:$header_height;
		bottom:0;
		max-width:300px;
		min-width:240px;
		width:18.75vw;
	}
}



// --------------------------------------------------------------------------------
// fluid layout
// --------------------------------------------------------------------------------

aside {
	transition:transform 0.4s;

	&.shrink {
		transform:translateX(-100%);
	}
}

main.index,
main.transfer,
main.search,
main.ram_market {
	transition:margin 0.4s;
}

section.modal.popup {
	transition:left 0.4s;
}

aside.shrink {
	+ main.index,
	+ main.transfer,
	+ main.search,
	+ main.ram_market {
		margin-left:0;
	}

	~ .modal.popup {
		left:0;
	}
}






// --------------------------------------------------------------------------------
// independent interface
// --------------------------------------------------------------------------------

.notification.panel {
    position:fixed;
    right:42px;
	top:calc(#{$header_height} + 42px);

		@include media ('>1280px','<=1600px') {
			top:calc(#{$header_height} + 2.425vw);
			right: 2.425vw;
		}
		@include media ('<=1280px') {
			top:calc(#{$header_height} + 17px);
			right: 27px;
		}


    // response
    div {
        width:406px;
        height:96px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        padding-left:40px;
        justify-content:center;
        position:absolute;
		top:0;
		right:0;

        p {
            margin:0;
            color:#fff;
        }

        a {
            font-size:rem(13);
            color:#fff;
        }

        button.close {
            position:absolute;
            right:10px;
            top:10px;
			@include ir();
            background:url('../image/icon-close-white-transparent.svg') center center no-repeat;
            width:20px;
            height:20px;

            outline:0;
            transition:transform 0.1s;

            &:hover {
                transform:scale(1.1);
            }
        }
    }

    .view.success {
        background:url('../image/bi-hubby.svg#white') 285px 36px no-repeat #79c720;
        background-size:81px auto;
    }

    .view.fail {
        background:url('../image/bi-hubby.svg#white#alert') 285px 36px no-repeat #ff6b64;
        background-size:91px auto;
    }

    // interaction
    z-index:-1;

    div {
        transition:transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity:0;
        transform:translateY(-100%);
    }

    &.viewing {
        z-index:1;
        div {
            opacity:1;
            transform:translateY(0);
        }
    }
}



// --------------------------------------------------------------------------------
// modal popup
// --------------------------------------------------------------------------------
.modal.popup {
	position:fixed;
	background-color: rgba(0, 0, 0, 0.64);

	top:0;
	right:0;
	bottom:0;

	@include media ('>1600px') {
		left:calc(300px + #{$lnb_width});
	}
	@include media ('>1280px','<=1600px') {
		left:calc(18.75vw + #{$lnb_width});
	}
	@include media ('<=1280px') {
		left:calc(240px + #{$lnb_width});
	}

	.wrapper {
		background-color:$x-dark-gray;

		position:absolute;
		top:calc(#{$header_height} + 61px + 100px);		// 대충 중간...
		left:50%;
		min-width:386px;
		width:30.15625%;
		max-width:500px;
		border-radius:4px;

		padding:32px 0;
		box-sizing:border-box;
	}

	//layout for scroll area
	.wrapper {
		h2 {
			margin-left:32px;
		}

		form {
			margin-left:32px;
			margin-right:32px;
		}
	}

	form {
		margin-top:32px;
		margin-bottom:24px;
		border-radius:4px;
		background:$xx-dark-gray;

		display:flex;
		align-items:center;
		padding:12px 16px;

		input,button {
			height:20px;
		}
		input {
			flex:1;
			font-size:inherit;
			background:url('../image/icon-search.svg') left center no-repeat;
			padding-left:32px;
			outline:0;
			color:#fff;
		}

		button {
			color:$white;
			font-size:$small;
		}

	}

	.result.list {
		height:350px;
		overflow-x:hidden;
		overflow:auto;
		button {
			width:100%;

			display:flex;
			align-items:center;
			background-color:$xx-dark-gray;

			margin-top:4px;
			padding:20px;

			text-align:initial;
			font-size:$small;

			outline:0;

			img {
				background-color:$gray;
				border-radius:100%;
				width:100%;
				max-width:32px;
				max-height:32px;
			}

			span {
				margin-left:12px;
			}

			strong {
				font-size:$normal;
				color:$white;
				display:block;
			}

			&:first-child {
				margin-top:0;
			}
		}
	}

	button.close {
		position:absolute;
		top:32px;
		right:32px;

		width:18px;
		height:18px;

		@include ir();

		background:url('../image/icon-close-popup.svg') center center no-repeat transparent;
		background-size:contain;
		outline:0;

		transition:transform 0.2s;

		&:hover {
			transform:scale(1.2);
		}
	}

	//custom scrollbar
	.result.list {
		$scrollbar_width:5px;
		$padding_right:11px;

		margin-left:32px;
		margin-right:calc(32px - #{$scrollbar_width} - #{$padding-right});
		padding-right:$padding_right;

		&::-webkit-scrollbar {
			width: $scrollbar_width;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border-radius:$scrollbar_width;
			background: #666;
		}

		// &::-webkit-scrollbar-button {
		// 	background: #666;
		// 	height: 15px;
		// 	border-radius: 50%;
		// }
	}


	// interaction
	visibility:hidden;
	opacity:0;
	transition:opacity 0.4s;

	.wrapper {
		transition:transform 0.4s;
		transform:translate(-50%, -10%);
	}

	&.viewing {
		opacity:1;
		visibility:visible;

		.wrapper {
			transform:translate(-50%, 0);
		}
	}


}
