$header_height:64px;
$lnb_width:60px;
$browser_min_width:1260px;
$browser_min_height:580px;

// --------------------------------------------------------------------------------

html,body {
	height:100%;
}

body {
	overflow-y:scroll;
}

div#elm-target {
	height:100vh;
	box-sizing:border-box;

	min-width:$browser_min_width;
	min-height:$browser_min_height;
}

body {
	color:#999;
	background-color:#161616;
}


// --------------------------------------------------------------------------------
// layout
// just only one element in SPA
// --------------------------------------------------------------------------------

header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:$header_height;
	z-index:60;
}

nav {
	position:fixed;
	width:$lnb_width;
	height:inherit;
	top:$header_height;
	left:0;
	bottom:0;
	z-index:50;
}

footer {
	position:fixed;
	width:$lnb_width;
	left:0;
	bottom:0;
	z-index:50;
}


// --------------------------------------------------------------------------------
// content > aside(status section) + main
// --------------------------------------------------------------------------------
section.content {
	box-sizing:border-box;

	display:flex;
	justify-content:center;

	padding-top:$header_height;

	// gnb가 있는 경우에만 필요함
	nav ~ & {
		padding-left:$lnb_width;
	}

	main.index,
	main.transfer,
	main.search,
	main.ram_market,
	main.vote,
	main.resource_management,
	main.account,
	main.error_404 {
		height:inherit;
		box-sizing:border-box;
		padding:42px;

		@include media ('>1600px') {
			margin-left:calc(300px);
		}
		@include media ('>1280px','<=1600px') {
			padding: 2.425vw;
			margin-left:calc(18.75vw);
		}
		@include media ('<=1280px') {
			padding:27px;
			margin-left:240px;
		}

	}

	main.transfer,
	main.search,
	main.ram_market,
	main.vote,
	main.resource_management,
	main.account {
		padding-top:42px;
	}


	// width
	main.search,
	main.ram_market,
	main.index {
		max-width:1560px;
		width:80.425vw;
		min-width:965px;
	}

	main.transfer,
	main.vote,
	main.account,
	main.resource_management,
	main.error_404 {
		width:965px;
	}
	// // width

	aside {
		box-sizing:border-box;

		position:fixed;
		left:$lnb_width;
		top:$header_height;
		bottom:0;
		z-index:10;

		max-width:300px;
		min-width:240px;
		width:18.75vw;
	}
}



// --------------------------------------------------------------------------------
// fluid layout
// --------------------------------------------------------------------------------

aside {
	transition:transform 0.4s;

	&.shrink {
		transform:translateX(-100%);
	}
}

main.index,
main.transfer,
main.search,
main.ram_market,
main.vote,
main.resource_management ,
main.account,
main.error_404 {
	transition:margin 0.4s;
}

aside.shrink {
	+ main.index,
	+ main.transfer,
	+ main.search,
	+ main.ram_market,
	+ main.vote,
	+ main.resource_management ,
	+ main.account,
	+ main.error_404 {
		margin-left:0;
	}
}




// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------




// tab view
div.tab {

	// basement
	box-sizing:border-box;
	display:flex;

	a,
	button {
		flex:1 0 50%;
		height:52px;
		line-height:50px;
		background-color:$xx-dark-gray;
		border-top:2px solid transparent;

		padding:0 35px;

		text-align:center;
		border-radius:0;

		&.ing {
			border-top:2px solid $pink;
			background-color:$xxxx-dark-gray;
			color:$white;
		}
	}
}



// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------



// --------------------------------------------------------------------------------
// error case :: 404
// --------------------------------------------------------------------------------
section.content main.error_404 {
	position:relative;
	height:calc(100vh - #{$header_height});
}

section.error.message.wrapper {
	position:absolute;
	top:calc(50% - 6vh);
	left:50%;
	transform:translate(-50%,-50%);

	&:before {
		content:'';
		background:url('../image/bnr-404@2x.png') center center no-repeat transparent;
		background-size:contain;
		display:block;
		width:381px;
		height:251px;
	}
	h2 {
		margin-top:20px;
		text-align:center;
		font-size:$x-large;
	}
}
