// vote :: voting, proxy

main.vote {
	// namespace
}

main.vote {
	div.tab {
		display:inline-block;
		font-size:0;
		margin:8px 0 2px;

		button {
			border-width:1px;
			border-radius:0;
		}
	}

	.container {
		padding:32px;
		background-color:$xx-dark-gray;
	}

	section.summary.vote {
		position:relative;

		background:url('../image/bi-hubby-cutted.svg') calc(100% + 9px) calc(40px) no-repeat;
		background-size:176px 136px;
		background-color:$xxx-dark-gray;
		padding:32px;
		margin-bottom:32px;

		h3  {
			margin:0;
			font-size:$normal;

			+ p {
				font-size:$x-large;
				font-weight:$light;
				color:$white;
				margin:8px 0 0 0;
			}
		}

		dl {
			margin-top:1em;
			font-size:$x-small;
			color:$gray;

			&:after {
				@include clear;
			}

			dt,dd {
				float:left;
				line-height:1.5;
			}

			dt:nth-of-type(2n) {
				clear:left;
			}

			dt:after {
				content:':';
			}
		}

		p:last-child {
			position:absolute;
			right:164px;

			border-radius:22px;
			height:42px;

			top:50%;
			margin:(-42px / 2) 0 0 0;

			padding:12px 16px;
			box-sizing:border-box;

			display:flex;
			align-items:center;

			font-size:$small;
			color:$black;
			background-color:$white;

			strong {
				margin-left:0.2em;
			}

			&:first-letter {
				text-transform:uppercase;
			}

			z-index:4;
			&:after {
				z-index:-1;
				content:'';
				background-color:$white;
				width:20px;
				height:20px;
				position:absolute;
				bottom:-1px;
				right:28px;
				transform:skew(49deg) rotate(33deg);
				transform-origin:left top;
			}

			animation:popover 3s;

			opacity:1;
			transform:scale(1);

			@keyframes popover {
				0% {
					opacity:0;
					transform:scale(0.9);
				}

				80% {
					opacity:0;
					transform:scale(0.9);
				}

				85% {
					transform:scale(1.1);
				}

				100% {
					opacity:1;
					transform:scale(1);
				}
			}
		}

	}


	section.bp.list {
		// reset
		th,td {
			font-size:$x-small;
		}

		// checkbox
		input[type="checkbox"] + label {
			@include ir ();

			display:inline-block;
			text-indent:999em;
			position:relative;
			width:18px;
			height:18px;

			&:before {
				position:absolute;
				top:0;
				left:0;
			}
		}

		td strong {
			font-size:$normal;
			color:#fff;
			font-weight:$light;
			display:block;
		}

		// set cell width
		// important cell align for table!
		tr {
			> *:nth-child(1) {
				padding-left:32px;
				padding-right:0;
				width:3em;
				text-align:left;
			}
			> *:nth-child(2) {
				width:4em;
				padding:0;
			}
		}


		// setting background-color for special
		thead tr,
		tr.buy.korea {
			background-color:$xxxx-dark-gray;
		}

		// detail
		thead {
			th {
				position:sticky;
				top:$header_height;
				z-index:10;
			}

			th:nth-of-type(2) {
				@include ir();
			}

			th.search {
				z-index:20;
				form {
					justify-content:space-between;
					align-items:center;
					display:flex;
					box-sizing:border-box;
					padding:0 16px;
					background-color:$xx-dark-gray;
					height:32px;
					border-radius:16px;

					input {
						outline:0;
						flex:1;
					}

					button[type='submit'] {
						@include ir();
						width:16px;
						height:16px;
						background:url('../image/icon-search.svg') center center no-repeat;
						background-size:16px;
					}

					transition:transform 0.1s ease-in;
					&:focus-within {
						transform:scale(1.05);
					}
				}
			}

			th:last-child {
				text-align:right;
				button {
					height:32px;
					line-height:30px;
					width:67px;
				}
				span {
					margin-right:35px;
				}
			}
		}

		tbody {
			// 순위
			tr td:first-child {
				color:$white;
				font-size:$normal;
			}

			// 투표하기
			td:last-child {
				text-align:right;
				padding-right:33px;

				*::selection {
					background-color:transparent;
					color:transparent;
				}
			}

			tr td:nth-of-type(3) {
				overflow:hidden;
			}

			// display grade
			tr td:nth-of-type(2) {
				span {
					text-indent:-999em;
					display:inline-block;
					position:relative;
					min-width:16px;

					&:before {
						position:absolute;
						content:'';
						display:block;
						height:1px;
						background-color:$x-dark-gray;
						top:50%;
						left:0;
						right:0;
					}

					&.down,
					&.up {
						text-indent:0;
						padding-left:12px;

						&:before {
							width:8px;
							height:8px;
							top:50%;
							transform:translateY(-50%);
							left:0;
							background-position:center center;
							background-repeat:no-repeat;
							background-color:transparent;
							background-size:cover;
						}
					}

					&.down:before {
						background-image:url('../image/triangle.svg#red')
					}

					&.up:before {
						background-image:url('../image/triangle.svg#green')
					}

				}
			}

			td span.bp.bi {
				margin-right:12px;
				line-height:1;
				float:left;
				width:48px;
				height:48px;
				border-radius:100%;
				background-color:$xxxx-dark-gray;
			}

		}
	}
}


// type case
main.proxy.vote {

	h3 {
		font-size:$x-large;

		+ p {
			margin-top:24px;
			color:$white;
			font-size:$x-small;
			line-height:1.6;
		}

	}

	.philosophy {
		background-color:$xxx-dark-gray;
		padding:32px;

		display:flex;
		align-items:center;

		button.ok {
			padding:0 24px;
			margin-top:24px;
		}

		div.animated.image {
			min-width:301px;
			height:301px;
			background:url('../image/bnr-dapp@2x.png') center center no-repeat;
			background-size:cover;
			border-radius:2px;
			flex-grow:1;
			margin-left:69px;
			order:2;
			box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
		}
	}

	.proxy.vote.status {
		margin-top:8px;

		ul,li {
			margin:0;
			padding:0;
			list-style-type:none;
		}

		ul {
			display:flex;

			li {
				padding:24px 32px;
				background-color:$xxx-dark-gray;
				flex:1;

				margin-left:8px;
				&:first-child {
					margin-left:0;
				}

				font-size:$small;
				strong {
					display:block;
					font-size:rem(18);;
					font-weight:$light;
					color:$white;
					margin-top:4px;
				}
			}
		}
	}

	.voted.bp {
		margin-top:64px;

		// reset
		ul,li {
			margin:0;
			padding:0;
			list-style-type:none;
		}

		ul {
			display:grid;
			grid-template-columns:repeat(3, calc(100% / 3));
			margin:20px -4px -4px;
		}

		li {
			background-color:$xxx-dark-gray;
			margin:4px;

			padding:20px 20px 20px 20px + 48px + 12px;
			position:relative;

			img {
				position:absolute;
				top:50%;
				left:20px;
				transform:translateY(-50%);
				width:48px;
				height:48px;
			}

			strong {
				color:$white;
				font-weight:$light;
				font-size:$normal;
				display:block;
				max-width:100%;
				overflow:hidden;
				text-overflow:ellipsis;
			}

			span {
				margin-top:4px;
				display:block;
				font-size:$small;
			}
		}
	}
}
