
// --------------------------------------------------------------------------------
// main :: join process
// --------------------------------------------------------------------------------

main.join { /* namespace */ }

// common asset
main.join {

	h2 + p {
		line-height:1.6;
		font-size:$small;
	}

	h3 {
		font-size:$normal;
		margin:40px 0 16px;
	}

	input[type='email'],
	input[type='text'] {
		outline: 0;
		padding: 17px 12px;

		border: 0;
		width: 100%;
		box-sizing: border-box;
		font-size:$small;

		background-color:$xx-dark-gray;

		&::placeholder {
			color:$dark-gray;
		}

	}

	.container {
		position:relative;
	}

	button.refresh {
		position:absolute;
		right:0;
		top:3px;
		color:$dark-gray;

		padding-right:26px;

		&:after {
			content:'';
			display:block;
			width:22px;
			height:22px;

			position:absolute;
			top:50%;
			right:0;
			margin-top:-11px;
			background:url('../image/icon-refresh.svg#dark-gray') right center no-repeat;

			transition:transform 1s;
		}

		&:hover {
			color:$white;
			&:after {
				transform:rotate(180deg);
				background:url('../image/icon-refresh.svg#white') right center no-repeat;
			}
		}

		&:active {
			&:after {
				transform:rotate(360deg);
			}
		}
	}

	div.btn_area {
		margin-top:32px;
		display:flex;

		button {
			flex:1;
		}
	}

	article {
		box-sizing:border-box;
		width:460px;
		padding:72px 0;
	}

	div.validation.bunch {
		margin-top:15px;
		font-size:$x-small;
		color:$dark-gray;
		position:relative;

		button.re_send {
			font-size:$x-small;
			position:absolute;
			top:0;
			right:0;
			text-decoration:underline;

			&:hover {
				color:$white;
				text-decoration:none;
			}
		}

		time {
			display:inline-block;
			width:3em;
			letter-spacing:1px;
		}


		height:14px;
		visibility:hidden;
		overflow:hidden;

		&.viewing {
			height:initial;
			visibility:initial;
		}
	}

	span.validate {
		display:block;
		line-height:20px;
		font-size:$x-small;
		padding-left:28px;
		margin-top:12px;

		&.true {
			visibility:visible;
			color: #79c720;
			background: url(../image/icon-check-circle.svg) left center no-repeat;
		}

		&.false {
			visibility:visible;
			color: #ff6b64;
			background: url(../image/icon-x-circle.svg) left center no-repeat;
		}
	}

	section.email.verification{
		margin:0;
		display:grid;


		grid-template-columns:1fr 120px;

		margin:-4px;

		* {
			box-sizing:border-box;
			margin:4px;
		}

		input {
			width:initial;
		}

		button {
			min-width:0;
			padding:0;
			background-color:$xxxx-dark-gray;

			&[disabled] {
				color:$x-dark-gray;
				border-color:transparent;
			}
		}
	}

	dl {
		display:grid;
		grid-template-columns:30% auto;

		dt,dd  {
			box-sizing:border-box;
			padding:16px;
			// line-height:62px;
			font-size:$small;
			border-top:1px solid $x-dark-gray;
			word-break:break-all;

			&:nth-of-type(1) {
				border-top-width:0;
			}

			display:flex;
			align-items:center;
			justify-content:center;
			min-height:62px;
		}

		dt {
			background:#232323;
			text-align:center;
			justify-content:center;
			color:$white;
		}

		dd {
			background-color:$xx-dark-gray;
			color:#999;
			overflow-x:hidden;
			text-overflow:ellipsis;
		}
	}

	dl.keybox {
		dd {
			justify-content:flex-start;
		}
	}

	p.important.description {
		color:$red;
		font-size:$x-small;
		font-weight:$light;
		text-align:center;
		&.copied {
			color: #79c720;
		}

	}

	dl.keybox ~ .btn_area {
		margin-top:16px;
	}

	.select_payment_type.area {
		margin-top:16px;
		padding-bottom:16px;
		border-bottom:1px solid #5d5d5d;

		display:flex;
		align-items:center;

		button.button {
			flex:1;
			height:36px;
			line-height:34px;
			padding:0;
			margin-right:0.6em;
		}

		p {
			margin-left:34px;
			flex:1;
		}


	}

	.confirm.area {
		margin-top:32px;

		display:flex;
		justify-content:space-between;
		align-items:center;

		label {
			font-size:$x-small;
		}

		button.button  {
			flex:1;
			max-width:136px;
		}

	}

	p.amount {
		flex:1;
		text-align:right;
		margin:0;
		font-size:$x-small;
		strong {
			font-size: $x-large;
			color: $white;
			font-weight:100;
			margin:0 0.2em;
		}
	}

	dl.invoice {
		grid-template-columns:30% auto;
		text-align:center;
	}

	p.exist_account {
		margin-top:120px;
		text-align:center;
		font-size:$small;

		a {
			color:$white;
			margin-left:0.6em;
			text-decoration:underline;

			&:visited {
				color:$dark-gray
			}
		}
	}

	textarea.hidden_copy_field {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}

}



main.join {
	article[data-step="validate-email-ok"] {
		height:calc(100vh - #{$header_height});
		padding:0;
		text-align:center;

		padding-top:67px + 32px;
		background:url('../image/bi-hubby.svg#white') center calc(50% - 67px - 32px) no-repeat;
		background-size:61px 67px;

		display:flex;
		flex-direction:column;
		justify-content:center;

	}
}

main.join {
	article[data-step="validate-email-ok"] {
		.btn_area button {
			flex:1;
		}
	}
}

main.join {
	article[data-step="done"] {
		padding:0;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		background:url('../image/bi-hubby.svg#pink') right top no-repeat;
		background-size:61px 67px;

		.button {
			flex:1;
			&:last-child {
				margin-left:4px;
			}
		}
	}
}
