// --------------------------------------------------------------------------------
// search page
// --------------------------------------------------------------------------------
main.search { /* namespace */ }

main.search {
	.container {
		background:$xx-dark-gray;
		padding:32px 0;
		margin-top:40px;
	}

	.summary {
		margin-left:32px;
		margin-right:32px;
		box-sizing:border-box;
		background-color:$xxxx-dark-gray;
		display:flex;
		justify-content:space-between;
		align-items:center;

		h3 {
			@include screen_reader();
		}

		padding:26px 32px 26px 48px;

		dl {
			// layout
			dt:nth-of-type(2) {
				grid-row-start:1;
				grid-row-end:2;
				grid-column-start:2;
				grid-column-end:3;
			}

			// styling
			dt,dd {
				margin-right:27px;
			}

			dt {
				color:$gray;
				font-size:$small;
				line-height:20px;
			}

			dd {
				margin-top:6px;
				font-weight:$light;
				color:$white;
				font-size:$large;
			}

			dt.id {
				background:url('../image/icon-id-default.svg') left center no-repeat;
				background-size:20px;
				padding-left:28px;
			}

			dt.total {
				background:url('../image/icon-eos.svg') left center no-repeat;
				padding-left:28px;
				margin-top:51px;
			}
		}

		ul,li {
			margin:0;
			padding:0;
			list-style-type:none;
		}

		li {
			width:273px;
			background-color:$xx-dark-gray;
			position:relative;
			box-sizing:border-box;

			margin-top:4px;
			padding:16px 24px;

			span {
				font-size:$small;
			}

			strong {
				color:#fff;
				font-weight:$light;
				display:block;
				margin-top:6px;
				font-size:$large;
			}

			// i :: information
			i {
				display:block;
				position:absolute;
				top:15px;
				right:20px;

				width:16px;
				height:16px;
				background:url('../image/icon-info-mark.svg') center center no-repeat;

				cursor:pointer;
				@include ir();
			}

			b {
				border-radius:4px;
				position:absolute;
				z-index:4;
				top:45px;
				right:10px;
				display:block;
				font-size:$xx-small;
				background-color:$xxx-dark-gray;
				padding:12px;

				u,s {
					display:block;
					font-style:normal;
					text-decoration:none;
					line-height:1.4;
					font-weight:$light;
				}

				u {
					color:$white;
				}

				s {
					&:before {
						content:'- ';
					};
				}

				&:before {
					content:'';
					background-color:$xxx-dark-gray;
					z-index:-1;
					position:absolute;
					width:15px;
					height:15px;
					top:5px;
					right:0;
					transform:rotate(45deg) translateX(-100%);
				}

				display:none;
			}

			i:hover + b {
				display:block;
			}
		}
	}

	// common :: 3 column grid box
	.resource .wrapper {
		display:grid;
		grid-template-columns:repeat(3,1fr);
		column-gap:8px;

		> div {
			background-color:$xxx-dark-gray;
			font-size:$small;
			padding:24px 32px;

			&:first-child {
				margin-left:0;
			}

		}
	}

	.resource {
		margin-top:32px;

		padding:0 32px;
		padding-top:40px;

		.wrapper {
			margin-top:22px;

			> div {
				h4 {
					font-size: $small;
					color: $white;
					line-height:1.6;
				}

				p {
					font-size: $small;
					color: $gray;
					line-height:1.6;
					margin:1.5em 0 0 0;
				}

				position:relative;
				.status {
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					right:32px;
					width:73px;
					height:73px;

					border-radius:100%;
					background-color:$xx-dark-gray;

					display:flex;
					align-items:center;
					justify-content:center;

					font-size:$small;
					font-weight:100;
					color:$white;

					overflow:hidden;
					text-shadow:0 1px 6px rgba(0,0,0,0.6);

					span {
						content:'';
						position:absolute;
						bottom:0;
						left:0;
						right:0;
						z-index:-1;
						overflow:hidden;

						&.fine {
							background-color:#536dfe;
						}

						&.good {
							background-color:#79c720;
						}

						&.bad {
							background-color:#f5cb23;
						}

						&.hell {
							background-color:#ff6b64;
						}

						// 기포로 변경하자
						&:before,
						&:after {
							opacity:0.2;
							content:'';
							display:block;
							position:absolute;
							width:50px;
							height:50px;
							top:0;
							background-image:
								radial-gradient(
									circle at 90% 70%,
									$white 0,
									$white 0px,
									transparent 1px
								),
								radial-gradient(
									circle at 25px 30px,
									$white 0,
									$white 1px,
									transparent 2px
								),
								radial-gradient(
									circle at 35px 10px,
									$white 0,
									$white 1px,
									transparent 3px
								),
								radial-gradient(
									circle at 5px 40px,
									$white 0,
									$white 2px,
									transparent 3px
								),
								radial-gradient(
									circle at 10px 20px,
									$white 0,
									$white 2px,
									transparent 4px
								),
						}

						&:before {
							left:0;
							animation:bubble 1s linear infinite;
						}

						&:after {
							right:0;
							animation:bubble 1s linear infinite;
							animation-delay:0.5s;
						}

						@keyframes bubble {
							0% {
								transform:translateY(100%);
							}

							100% {
								transform:translateY(-100%);
							}
						}
					}
				}
			}
		}
	}

	.permission {
		padding:0 32px;
		margin-top:72px;

		h3 {
			margin-bottom:22px;
		}

		table {

			// align
			th,td {
				padding-left:24px;
				padding-right:24px;

				&:first-child {
					text-align:left;
				}

				&:nth-of-type(2) {
					padding-left:21px;
					padding-right:21px;
					text-align:center;
				}
			}
		}

	}

	.transaction.history {
		padding:0 32px;
		margin-top:72px;

		h3 {
			margin-bottom:22px;
		}

		table {
			margin-top:12px;

			// set width
			tr > td:nth-of-type(1) {
				width:72px;
			}

			tr > td:nth-of-type(3) {
				width:146px;
			}

			td.info {
				width:52.184179%;
				position:relative;
				padding-right:60px;
				word-break:break-all;

				span.memo.popup {
					$padding:20px;
					$position:#{$padding + $padding / 2};

					display:inline-block;
					height:18px;
					width:18px;
					overflow:hidden;
					position:absolute;
					top:50%;
					right:30px;
					margin-top:calc(-#{$padding} / 2);

					> span {
						display:block;
					}

					button {
						@include ir();
						background:url('../image/icon-memo.svg') center center no-repeat;
						background-size:18px;
						height:20px;
						width:20px;
						transition:transform 0.1s;
					}
					strong,

					span.description {
						display:none;
					}

					// opened popup
					&.viewing {
						opacity:1;
						display:block;
						background-color: #282828;
						box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.5);
						width:200px;
						height:auto;
						min-height:182px;
						z-index:10;

						padding:16px;

						box-sizing:border-box;

						margin-top:-27px;
						margin-right:-18px;

						strong,
						span.description {
							display:block;
							overflow:initial;
						}

						strong {
							display:block;
							background:url('../image/icon-memo.svg') left center no-repeat transparent;
							padding-left:24px;
							font-size: $small;
							color: $white;
							margin-bottom:16px;
							background-size:20px;
						}

						button {
							right:16px;
							top:17px;
							position:absolute;
							background-image:url('../image/icon-close-plus.svg');
							transform:rotate(45deg);
						}

						span.description {
							line-height:1.5;
						}
					}
				}
			}
		}
	}

	div.btn_area {
		margin-top:16px;
		text-align:center;
	}
}

// search :: public key
main.search.public_key {
	.container {
		margin-top:40px;
	}
	.summary {
		dd {
			margin-top:8px;
			color:$white;
			font-size:$large;
			font-weight:300;
		}
	}
	div.keybox {
		border-top:1px solid $dark-gray;
		padding:0 32px;
		padding-top:40px;
		margin-top:40px;
		display:grid;
		grid-template-columns:repeat(4,1fr);
		column-gap:8px;
		row-gap:8px;

		> div {
			background-color:$xxx-dark-gray;
			font-size:$small;
			padding:24px 32px;

			&:first-child {
				margin-left:0;
			}

			strong {
				color:$white;
				display:block;
			}

			position:relative;
		}
		> div button {
			@include ir();
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			right:0;
			background:url('../image/icon-close-plus.svg') center center no-repeat;
		}
	}
}
