nav {
	background:$black;

	ul,li {
		margin:0;
		padding:0;
		list-style-type:none;
	}

	li {
		position:relative;
	}

	button,a {
		@include ir();

		outline:0;
		display:block;

		width:60px;
		height:60px;

		background-repeat:no-repeat;
		background-position:center center;
		background-size:22px 22px;

		&:hover,
		&.viewing {
			background-color:#282828;
		}

		&:active {
			background-size:20px 20px;
		}
	}

	// bg image
	button.dashboard.toggle {
		background-color:#282828;
		background-image:url('../image/icon-menu-toggle.svg#expand');

		&.shrink {
			background-color:transparent;
			background-image:url('../image/icon-menu-toggle.svg#shrink');
		}

		&:hover {
			background-color:#282828;
		}

	}

	a.resource {
		background-image:url('../image/icon-resource.svg');
	}

	a.transfer {
		background-image:url('../image/icon-transaction.svg');
	}

	a.ram_market {
		background-image:url('../image/icon-server.svg');
	}

	a.vote {
		background-image:url('../image/icon-vote-eoshub.svg');
	}

	a.dapps {
		background-image:url('../image/icon-application.svg');
	}

	// tooltip
	span.tooltip {
		position:absolute;
		top:-999em;
		left:-999em;

		transform:translateX(5%);
		transition:transform 0.4s, opacity 0.6s;
		opacity:0.6;
	}

	button:hover + span.tooltip,
	a:hover + span.tooltip {
	// button + span.tooltip,
	// a + span.tooltip {
		opacity:1;
		transform:translateX(0);
		height:30px;
		top:50%;
		margin-top:-15px;
		left:100%;
		white-space:nowrap;

		font-size:$small;
		background:$black;
		line-height:calc(30px - 2px * 2);
		border-radius:5px;
		border:2px solid $dark-gray;

		padding:0 15px;

		&:before {
			content:'';
			display:block;
			position:absolute;
			width:10px;
			height:10px;
			top:50%;
			margin-top:-5px;
			left:-7px;
			transform:rotate(-45deg);
			border-left-width:2px;
			border-top-width:2px;
			border-right-width:0;
			border-bottom-width:0;
			border-style:solid;
			border-color:$dark-gray;

			background:#000;
			// background:linear-gradient(to top left,#000000 50%, transparent
		}
	}
}
