@charset 'UTF-8';

.wrapper section.tick_display {
    $padding:40px;

    margin-bottom:8px;
    display:flex;
    justify-content:space-between;


    // section :: search field
    $height:52px;
    form {
        flex:0 1 432px;
        position:relative;
        width:432px;
        height:$height;
        font-size:rem(14);
        background:#fff;

        display:flex;
        justify-content:space-between;

        input,button {
            box-sizing:border-box;
            outline:0;
        }

        input[type=search] {
            border-radius:4px;
            border:0;

            flex:1;

            height:inherit;
            padding:0 28px 0 56px;
            background:url('../image/icon-search.svg') 20px center no-repeat;
            background-size:24px 24px;
        }

        button.search.button {
            // position:absolute;
            // top:0;
            // bottom:0;
            // right:0;
            margin-right:20px;
            color:#333;

            &:hover {
                font-weight:500;
                color:#000;
            }
        }
    }

    // price (ram...eos..)
    ul,li { 
        flex:1 0 60%;
        margin:0;
        padding:0;
        list-style-type:none;
    }

    ul.price  {
        overflow:hidden;

        li {
            width:45%;
            max-width:300px;
            height:$height;
            line-height:52px;
            float:right;
            background:#fff;

            font-size:rem(14);
            color:#333;

            margin-left:12px;
            padding:0 16px;
            box-sizing:border-box;

            display:flex;
            align-items:center;
            justify-content:space-between;
        }

        // price panel decorate
        span:before {
            font-size:rem(8);
            margin-left:1.2em;
        }

        span[data-before='lower']:before {
            content:'▼';
            color:#4d6bff;
        }

        span[data-before='higher']:before {
            content:'▲';
            color:#f12f2f;
        }
    }
}
