@charset 'UTF-8';
.wrapper section.tick_display {
    $padding:40px;

    margin-bottom:8px;
    display:flex;
    justify-content:space-between;


    // section :: search field
    $height:52px;
    form {
        position:relative;
        width:432px;
        height:$height;
        font-size:rem(14);

        input,button {
            box-sizing:border-box;
        }

        input[type=search] {
            border-radius:4px;
            border:0;
            padding:0;
            width:inherit;
            height:inherit;
            padding-left:52px;
        }

        button.search.button {
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            padding-right:20px;
        }
    }

    // price (ram...eos..)
    ul,li { 
        margin:0;
        padding:0;
        list-style-type:none;
    }

    ul.price  {
        overflow:hidden;

        li {
            width:300px;
            height:$height;
            line-height:52px;
            float:right;
            background:#fff;

            font-size:rem(14);
            color:#333;

            margin-left:12px;
            padding:0 16px;
            box-sizing:border-box;

            display:flex;
            align-items:center;
            justify-content:space-between;
        }

        // price panel decorate
        span:before {
            font-size:rem(8);
        }

        span[data-before='lower']:before {
            content:'▼';
            color:#4d6bff;
        }

        span[data-before='higher']:before {
            content:'▲';
            color:#f12f2f;
        }
    }
}
